#phoneos-panel{
    position:fixed;
    right:20px;
    bottom:20px;
    width:320px;
    height:620px;
    z-index:9999;
}

#phoneos-panel iframe{
    width:100%;
    height:100%;
    border:none;
    background:transparent;
}
